@media only screen and (max-width:768px) {

    section {
        margin: 50px 0 50px 0;
    }

    .navbar {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-toggler:active {
        border: none;
    }

    .nav-brand {
        width: 150px;
    }

    .hero {
        min-height: 62vh;
        background-size: cover;
        background-position: center;
        background-image: url(../images/background/mob_bg.jpg);
        margin-bottom: 100px;
        /* background-position: right; */
    }

    .hero_mask {
        min-height: 62vh;
        background-color: rgba(0, 0, 0, 0.45);
        align-content: center;
        position: relative;
    }

    .hero-heading {
        font-size: 22px;
    }

    .ts_sm_center {
        text-align: center;
    }

    .circle-position {
        left: 0;
        bottom: -65px;
    }

    .circle-bg {
        height: 110px;
        width: 110px;
    }

    .circle-img {
        height: 100px;
        width: 100px;
    }

    .circle-bg-shadow {
        height: 100px;
        width: 100px;
    }

    .circle-bg-shadow>h4 {
        font-size: 11px;
        text-align: center;
        font-weight: 700;
    }

    .circle-bg-shadow>span {
        font-size: 10px;
        text-align: center;
        font-weight: 700;
    }

    .content-para {
        text-align: center;
        font-size: 18px;
    }

    .content-para2 {
        font-size: 16px;
    }

    .content-heading {
        font-size: 18px;
        font-weight: 600;
        padding-left: 10px;
    }

    .learner-bg {
        background-image: url(../images/background/color_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 25vh;
    }

    .learner {
        background-color: rgba(70, 70, 70, 0.50);
        min-height: 22vh;
    }

    .tes-para {
        padding: 0 5px;
        font-size: 13px;
    }

    .card-long-text {
        font-size: 20px;
    }

    .tes-text {
        font-size: 18px;
        font-weight: 600;
    }

    .footer_heading {
        font-size: 16px;
        margin-top: 20px;
        text-align: justify;
    }

    .new_lerner {
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .new_lerner h2 {
        font-size: 14px;
    }

    .cert_banner {
        width: 100%;
        height: 250px;
    }

    .banner_mask h2 {
        color: #fff;
        font-weight: 700;
        line-height: 250px;
        font-size: 26px;
    }

    .franchise-banner {
        height: 170px;
    }

    .franchise-mask {
        h2 {
            font-weight: 700;
            line-height: 170px;
            font-size: 50px;
        }
    }

    .card_height {
        height: 280px;
    }

    .faq_heading {
        font-size: 34px;
        margin-top: 15px;
        text-align: center;
    }

    .pd_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .p_0 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .cbox {
        border-radius: 10px 10px 0 0;
        height: 300px;
    }

    .cbox_mask {
        border-radius: 10px 10px 0 0;
    }

    .cbox_heading {
        font-size: 16px;
    }

    .form_pl {
        padding: 20px;
    }

    .f-btn {
        display: flex;
        justify-content: center;
    }

    .map_view {
        height: 200px;
    }

    .responsive-map {
        height: 200px;
    }

    .responsive-textarea {
        max-width: 300px;
        min-width: 300px;
    }

    .enroll_heading {
        text-align: center;
        margin-top: 10px;
    }

    .enroll_para {
        font-size: 16px;
    }

    .about-card-para {
        font-size: 14px;
    }

    .dc_heading {
        text-align: center;
        margin-top: 10px;
    }

    .about-card-para-right {
        font-size: 8px;
        text-align: right;
        margin: 0;
    }

    .info>h5 {
        font-size: 12px;
    }

    .info>p {
        font-size: 12px;
    }

    .pp-single-item {
        margin: 20px 10px 10px 10px;
    }

    .pp-card-heading {
        text-align: center;
        padding: 10px;
    }

    .con-sm {
        font-size: 18px;
    }

    .con-p {
        font-size: 16px;
    }

    .wow_text {
        font-size: 22px;
    }

    .credentials {
        .credentials_text1 {
            text-align: center;
        }

        .credentials_text2 {
            text-align: center;
        }

        .credentials_te {
            font-size: 12px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }

    .table_row_name {
        font-size: 12px;
    }

    .table_row_details {
        font-size: 12px;
    }

    .tes_card_mob {
        height: auto;
    }
}